@import "tailwindcss";
@plugin "daisyui";


html, body {
  background-color: #1e1e1e; /* even darker, or keep #242424 */
  color: #fff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #fff;
  background-color: #18181b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}